#container
{
    display: table;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#content
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 52pt;
    white-space: nowrap;
}

#current_char_match
{
    font-size: 32;
    width: 500px;
}

#progressbar
{
    text-align: center;
    overflow: hidden;
}

.jumbotron
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.progress-bar-vertical
{
    width: 100%;
    height: 100%;
    float: left;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: flex-end;
    -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar
{
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

.container img {
    max-width: 350px;
}

.bar-step
{
    position: absolute;
    margin-top:-20px;
    margin-left: calc(-8.333333% - (8.333333% / 2));
    z-index:1;
    font-size:0.75rem;
    width: calc(100% - 8.333333%);
}

.label-line
{
    background: #000;
    height:1px;
    width:100%;
}

#comment
{
    margin-top: 5%;
    font-size: 2rem;
}

.help
{
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}
  
#helpButton
{
    position: fixed;
    bottom: -4px;
    right: 5%;
}