<html lang="en">
  <head>
    <title>ASL Tutor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/tutorial.js"></script>
  </head>
  <body>
    <div id="current_char_target" class="lato">Current character: <span id="current_char_target_text">B</span></div>
    <div id="container">
      <div class="lato" id="content">
        <div id="image"><img id="realimage" width="400px" src="static/asl/b.gif"></div>
        <div id="current_char_match">
          <div class="progress">
            <div id="current_char_match_progress" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0 %</div>
        </div></div>
      </div>
    </div>
  </body>
</html>
